body{
    margin:0;
}

.container{
    height: calc(100vh - 100px) ;
    width: 100%;
    overflow: hidden;
}
.controls {
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
    width: 100%;
}