body{
    margin:0;
    background-color: pink;
}

.container{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 1px solid red;
    display: inline-block;
}

img{
    display: inline-block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 1px solid red;
}
.result{
    display: inline-block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 1px solid red;
}

.controls {
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
    width: 100%;
}